@media screen and (min-width: 1280px) {
    /* #profile-normal{
        display: none;
    }
    #profile-hover{
        display: flex;
    } */
    .absolute {
        top: 50px !important;
    }
    .timeline-item::before {
        font-size: 2rem;
    }
    .second-mile {
        max-width: 300px;
    }
    .fourth-mile {
        max-width: 300px;
    }
    .sixth-mile {
        max-width: 200px;
    }
    .seventh-mile {
        max-width: 500px;
    }
    .third-mile {
        margin-top: 50px;
        max-width: 300px;
    }
    .fifth-mile {
        margin-top: 50px;
        max-width: 200px;
    }

    /* section,
    .section-container {
        height: fit-content;  
    } */

    section {
        margin: 5% 10%;
    }
}
@media screen and (min-width: 1400px) {
    .profile-section{
        height: 90vh;
        margin-top: 10vh;
    }
}

@media screen and (max-width: 1400px) {
    .about-containers1 {
        flex-wrap: wrap;
    }
    
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    /* #profile-normal {
        display: flex;
    }
    #profile-hover {
        display: none;
    } */

    #skills,
    .experience-details-container {
        margin-top: 2rem;
    }

    #profile, 
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;  
    }

    section {
        margin: 0 10%;
    }
    .section-pic-container {
        height: 275px;
        width: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers1 {
        margin-top: 0;
        flex-direction: row;
    }
    .contact-info-upper-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1280px) {
    .about-containers1 {
        flex-wrap: wrap;
    }

    .second-mile {
        max-width: 200px;
    }
    .fourth-mile {
        max-width: 200px;
    }
    .sixth-mile {
        max-width: 200px;
    }

    .third-mile {
        margin-top: 0;
        max-width: 200px;
    }
    .fifth-mile {
        margin-top: 0;
        max-width: 200px;
    }
    .seventh-mile {
        margin-top: 0;
        max-width: 200px;
    }
}

@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: 40vh;
    }
    #profile {
        height: 86vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }
    
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers1,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
        line-height: 3rem;
    }
    .experience-subtitle {
        font-size: 1.5rem;
    }
    .logo {
        font-size: 2rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section-pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .forward-icon {
        display: none;
    }
    .title {
        font-size: 2rem;
    }
    .details-container {
        padding: 0.7rem;
    }
    .project-img {
        width: 200px;
    }
    .text-container {
        text-align: justify;
    }
    .rightbtn, .leftbtn {
        display: none;
    }
    .about-containers2 {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .about-containers1 {
        margin-top: 0;
        flex-direction: column;
    }
    .section-text-p3 {
        font-size: 1rem;
    }
    .nav {
        height: 14vh;
    }
    .name {
        white-space: nowrap;
        font-size: 2.3rem;
    }

    .achv-photo {
        width: 250px;
    }

    .achv-member {
        height: 2rem;
    }
    .achievement-container {
        flex-direction: column;
        gap: 0rem;
        padding: 0.7rem;
    }
    .achv-title {
        text-wrap: wrap;
        font-size: 1.2rem;
    }

    .absolute {
        overflow-x: hidden;
    }
    .opacity-50 {
        opacity: 0.1;
    }
    .achv-photo-container {
        margin-top: 0rem;
        gap: 0.5rem;
    }
    .place-container {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
    
    .section-text-p2 {
        font-size: 1.2rem;
    }
    .imagine {
        font-size: 1.5rem;
    }
    .achieve {
        font-size: 2rem;
    }
    .timeline-upper {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    /* .quote {
        flex-direction: column;
    } */
    .imagine {
        font-size: 1.5rem;
    }
    .achieve {
        font-size: 2rem;
    }
}
